<svg id="graph-svg" width="360" height="360" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line class="graph-base" stroke="white" x1="180" x2="180" y1="0" y2="360" stroke-width="3"/>
    <line class="graph-base" stroke="white" x1="0" x2="360" y1="180" y2="180" stroke-width="3"/>
    <polygon class="paint" points="182 182, 257 182, 182 257" fill-opacity="0.8"/>
    <rect class="paint" x="103" y="28" width="75" height="150" fill-opacity="0.8"/>
    <path class="paint" d="M178,182 L28,182   A150,150 1 0,0    178,332  z" fill-opacity="0.8"/>
    <polygon class="graph-base" points="180 0, 185 25, 175 25" stroke="white" stroke-width="1"/>
    <polygon class="graph-base" points="360 180, 340 185, 340 175" stroke="white" stroke-width="1"/>
    <line name="mid-up" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="30"
          y2="30"/>
    <line name="mid-up" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="105"
          y2="105"/>
    <line name="mid-low" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="255"
          y2="255"/>
    <line name="mid-low" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="331"
          y2="331"/>
    <line name="left" class="graph-base" stroke="white" stroke-width="2" x1="30" x2="30" y1="173" y2="187"/>
    <line name="left" class="graph-base" stroke="white" stroke-width="2" x1="105" x2="105" y1="173"
          y2="187"/>
    <line name="right" class="graph-base" stroke="white" stroke-width="2" x1="255" x2="255" y1="173"
          y2="187"/>
    <line name="right" class="graph-base" stroke="white" stroke-width="2" x1="330" x2="330" y1="173"
          y2="187"/>
    <text class="graph-base" fill="white" x="350" y="170">X</text>
    <text class="graph-base" fill="white" x="160" y="20">Y</text>
    <text name="mid-up-text" class="graph-base" fill="white" x="193" y="35">R</text>
    <text name="mid-up-text" class="graph-base" fill="white" x="193" y="110">R/2</text>
    <text name="mid-low-text" class="graph-base" fill="white" x="193" y="260">-R/2</text>
    <text name="mid-low-text" class="graph-base" fill="white" x="193" y="335">-R</text>
    <text name="right-text" class="graph-base" fill="white" x="325" y="167">R</text>
    <text name="right-text" class="graph-base" fill="white" x="245" y="167">R/2</text>
    <text name="left-text" class="graph-base" fill="white" x="100" y="167">-R/2</text>
    <text name="left-text" class="graph-base" fill="white" x="20" y="167">-R</text>
</svg>