.form.form-auth {
    grid-template-columns: 75px 1fr;
}

.form__label {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 10px;
    align-self: center;
}

.auth-message.success {
    color: var(--mygreen);
}

.auth-message.failed {
    color: var(--myred);
}