@charset "UTF-8";

/* Media:
1024px 850px 520px
/*

/*Import fonts*/

@font-face {
    font-family: "Lora";
    font-display: swap;
    src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    font-display: swap;
    src: url("../fonts/Lora-Medium.woff") format("woff"), url("../fonts/Lora-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    font-display: swap;
    src: url("../fonts/Lora-SemiBold.woff") format("woff"), url("../fonts/Lora-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    font-display: swap;
    src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    font-display: swap;
    src: url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/*Base styles*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* VARIABLES */
:root {
    --myred: #f13a23;
    --mygrey: #f5f5f5;
    --myblack: #111;
    --mygreen: rgb(99, 215, 41);

    /* DEVICE SIZES */
    --max-tablet: 1176px;
    --max-mobile: 692px;
}

/*--------------------*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--myblack);
    background: var(--mygrey);
}

body._lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template: minmax(50px, auto) 1fr minmax(50px, auto)/1fr;
    grid-template-areas: "header""main""footer";
}

.container {
    box-sizing: content-box;
    max-width: 80rem;
    min-width: 300px;
    padding: 0 0.9375rem;
    margin: 0 auto;
}

a {
    color: var(--myblack);
    transition: color 0.2s ease-in;
}

a:hover,
a:active,
a:focus {
    color: #f13a23;
    transition: color 0.1s ease-out;
}