<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
<!--        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>-->
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orbis</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.Oracle8iDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

<!--        <mapping class="data.Result" />-->

    </session-factory>
</hibernate-configuration>