#clock {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  margin-top: 20vh;
  margin-bottom: 20vh;
}

#clock #time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

#clock #date {
  letter-spacing: 0.1em;
  font-size: 24px;
}